src/generated/calculator/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://tempuri.org/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">

    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="Add">
                <s:complexType>
                    <s:sequence>
                        <s:element name="intA" type="s:int"/>
                        <s:element name="intB" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AddResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="AddResult" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:element name="Subtract">
                <s:complexType>
                    <s:sequence>
                        <s:element name="intA" type="s:int"/>
                        <s:element name="intB" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SubtractResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="SubtractResult" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:element name="Multiply">
                <s:complexType>
                    <s:sequence>
                        <s:element name="intA" type="s:int"/>
                        <s:element name="intB" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="MultiplyResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="MultiplyResult" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

            <s:element name="Divide">
                <s:complexType>
                    <s:sequence>
                        <s:element name="intA" type="s:int"/>
                        <s:element name="intB" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DivideResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="DivideResult" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>

        </s:schema>
    </wsdl:types>

</wsdl:definitions>
