scripts/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/schema/common" elementFormDefault="qualified">

    <xs:complexType name="AuthHeader">
        <xs:sequence>
            <xs:element name="Username" type="xs:string"/>
            <xs:element name="Password" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="AuthHeader" type="com:AuthHeader"/>

</xs:schema>
