scripts/soap_1.1_embeded_schema.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/inline-types-service">

  <types>
    <xsd:schema 
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://example.com/inline-types"
        elementFormDefault="qualified">

      <!-- ELEMENTO GLOBAL -->
      <xsd:element name="GetPersonRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Id" type="xsd:string"/>
            <xsd:element name="IncludeAddress" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ELEMENTO GLOBAL -->
      <xsd:element name="GetPersonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Person" type="tns:Person"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- COMPLEX TYPE GLOBAL -->
      <xsd:complexType name="Person">
        <xsd:sequence>
          <xsd:element name="Id" type="xsd:string"/>
          <xsd:element name="Name" type="xsd:string"/>
          <xsd:element name="Age" type="xsd:int"/>
          <xsd:element name="Address" type="tns:Address" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- OTRO COMPLEX TYPE -->
      <xsd:complexType name="Address">
        <xsd:sequence>
          <xsd:element name="Street" type="xsd:string"/>
          <xsd:element name="City" type="xsd:string"/>
          <xsd:element name="ZipCode" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </types>

</definitions>
