scripts/soap_1.1_all_types.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com/complex-types-service"
    targetNamespace="http://example.com/complex-types-service">

  <!-- ============================= -->
  <!--            TYPES              -->
  <!-- ============================= -->
  <wsdl:types>
    <xsd:schema
        targetNamespace="http://example.com/complex-types-service"
        elementFormDefault="qualified">

        <!-- ============================= -->
        <!--       TYPE: sequence          -->
        <!-- ============================= -->
        <xsd:complexType name="Person">
          <xsd:sequence>
            <xsd:element name="Id" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Age" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>

        <!-- ============================= -->
        <!--        TYPE: choice           -->
        <!-- ============================= -->
        <xsd:complexType name="ContactMethod">
          <xsd:choice>
            <xsd:element name="Email" type="xsd:string"/>
            <xsd:element name="Phone" type="xsd:string"/>
            <xsd:element name="TelegramHandle" type="xsd:string"/>
          </xsd:choice>
        </xsd:complexType>

        <!-- ============================= -->
        <!--         TYPE: all             -->
        <!-- ============================= -->
        <xsd:complexType name="Coordinates">
          <xsd:all>
            <xsd:element name="Lat" type="xsd:double"/>
            <xsd:element name="Lon" type="xsd:double"/>
          </xsd:all>
        </xsd:complexType>

        <!-- ================================== -->
        <!--       TYPE: attributes              -->
        <!-- ================================== -->
        <xsd:complexType name="VersionedString">
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="version" type="xsd:string"/>
              <xsd:attribute name="lang" type="xsd:string" use="optional"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>

        <!-- ================================== -->
        <!--   TYPE: complexContent extension    -->
        <!-- ================================== -->
        <xsd:complexType name="Employee">
          <xsd:complexContent>
            <xsd:extension base="tns:Person">
              <xsd:sequence>
                <xsd:element name="EmployeeId" type="xsd:string"/>
                <xsd:element name="Role" type="xsd:string"/>
              </xsd:sequence>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>

        <!-- ================================== -->
        <!-- TYPE: List (maxOccurs="unbounded")  -->
        <!-- ================================== -->
        <xsd:complexType name="Order">
          <xsd:sequence>
            <xsd:element name="OrderId" type="xsd:string"/>
            <xsd:element name="Items" type="xsd:string" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>

        <!-- ================================== -->
        <!--  TYPE: any (unknown XML children)   -->
        <!-- ================================== -->
        <xsd:complexType name="FlexiblePayload">
          <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xsd:sequence>
        </xsd:complexType>

        <!-- ================================== -->
        <!--   Elementos globales para operación -->
        <!-- ================================== -->
        <xsd:element name="SubmitEmployeeRequest">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Employee" type="tns:Employee"/>
              <xsd:element name="Contact" type="tns:ContactMethod"/>
              <xsd:element name="Location" type="tns:Coordinates"/>
              <xsd:element name="Note" type="tns:VersionedString" minOccurs="0"/>
              <xsd:element name="Orders" type="tns:Order" minOccurs="0" maxOccurs="unbounded"/>
              <xsd:element name="Metadata" type="tns:FlexiblePayload" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="SubmitEmployeeResponse">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Success" type="xsd:boolean"/>
              <xsd:element name="Message" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <!-- ============================= -->
  <!--           MESSAGES            -->
  <!-- ============================= -->
  <wsdl:message name="SubmitEmployeeInput">
    <wsdl:part name="parameters" element="tns:SubmitEmployeeRequest"/>
  </wsdl:message>

  <wsdl:message name="SubmitEmployeeOutput">
    <wsdl:part name="parameters" element="tns:SubmitEmployeeResponse"/>
  </wsdl:message>

  <!-- ============================= -->
  <!--          PORT TYPE            -->
  <!-- ============================= -->
  <wsdl:portType name="ComplexTypesPortType">
    <wsdl:operation name="SubmitEmployee">
      <wsdl:input message="tns:SubmitEmployeeInput"/>
      <wsdl:output message="tns:SubmitEmployeeOutput"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- ============================= -->
  <!--           BINDING             -->
  <!-- ============================= -->
  <wsdl:binding name="ComplexTypesBinding" type="tns:ComplexTypesPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="SubmitEmployee">
      <soap:operation soapAction="http://example.com/SubmitEmployee"/>
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- ============================= -->
  <!--            SERVICE            -->
  <!-- ============================= -->
  <wsdl:service name="ComplexTypesService">
    <wsdl:port name="ComplexTypesPort" binding="tns:ComplexTypesBinding">
      <soap:address location="http://localhost:8080/ComplexTypesService"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
