scripts/soap_1.1_no_prefix.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com/no-prefix-service"
    targetNamespace="http://example.com/no-prefix-service">

    <!-- ========================= -->
    <!--          TYPES            -->
    <!-- ========================= -->
    <types>
        <xsd:schema
            targetNamespace="http://example.com/no-prefix-types"
            elementFormDefault="qualified">

            <xsd:element name="HelloRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Name" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="HelloResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <!-- ========================= -->
    <!--         MESSAGES          -->
    <!-- ========================= -->
    <message name="HelloInput">
        <part name="parameters" element="tns:HelloRequest"/>
    </message>

    <message name="HelloOutput">
        <part name="parameters" element="tns:HelloResponse"/>
    </message>

    <!-- ========================= -->
    <!--        PORT TYPE          -->
    <!-- ========================= -->
    <portType name="HelloPortType">
        <operation name="Hello">
            <input message="tns:HelloInput"/>
            <output message="tns:HelloOutput"/>
        </operation>
    </portType>

    <!-- ========================= -->
    <!--          BINDING          -->
    <!-- ========================= -->
    <binding name="HelloBinding" type="tns:HelloPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="Hello">
            <soap:operation soapAction="http://example.com/no-prefix-service/Hello"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- ========================= -->
    <!--          SERVICE          -->
    <!-- ========================= -->
    <service name="HelloService">
        <port name="HelloPort" binding="tns:HelloBinding">
            <soap:address location="http://localhost:8080/HelloService"/>
        </port>
    </service>

</definitions>
