src/generated/customer/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/schema/customer"
    elementFormDefault="qualified">

  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Age" type="xs:int"/>
      <xs:element name="Email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="Customer" type="cus:Customer"/>

</xs:schema>
